<section id="opening" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Opening Hours</h2>
                <h3 class="section-subheading text-muted">We are open six days a week!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img class="img-responsive img-bottom-margin" src="img/lovely-shop.jpg" alt="Our lovely shop!"/>
            </div>
            <div class="col-lg-6 text-center">
                <table class="table" style="width:400px">
                    <tr><td>Monday</td><td>09:00 - 16:00</td></tr>
                    <tr><td>Tuesday</td><td>09:00 - 16:00</td></tr>
                    <tr><td>Wednesday</td><td>09:00 - 16:00</td></tr>
                    <tr><td>Thursday</td><td>09:00 - 16:00</td></tr>
                    <tr><td>Friday</td><td>09:00 - 16:00</td></tr>
                    <tr><td>Saturday</td><td>09:00 - 16:00</td></tr>
                    <tr><td>Sunday</td><td>Closed</td></tr>
                </table>
            </div>
        </div>
    </div>
</section>
